footer.footer--default
    .row.justify-content-center.bg-light.mx-auto
        .col-xl-6
            nav
                ul.nav.justify-content-center.bg-info
                    li.nav-item
                        a.nav-link(href="#") Contact
                    li.nav-item
                        a.nav-link(href="#") Logout
    .row.copyright.py-4.text-light.text-center.bg-dark.mx-auto
        .col-12
            small.text-center
                | Copyright &copy; 2020. Rewardtrax.com