@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
/****************************************************************
// Typography - Google link imported above. ^^^^^^^^
****************************************************************/
/****************************************************************
// Colors
****************************************************************/
.bg-primary {
  background: #007bff;
}

.bg-primary-light-1 {
  background: #409cff;
}

.bg-primary-light-2 {
  background: #80bdff;
}

.bg-primary-light-3 {
  background: white;
}

.bg-secondary {
  background: #6c757d;
}

.bg-secondary-light-1 {
  background: #8d959c;
}

.bg-secondary-light-2 {
  background: #afb5ba;
}

.bg-secondary-light-3 {
  background: #f3f4f5;
}

/****************************************************************
// Images 
****************************************************************/
.pax__avatar {
  width: 45px;
  height: 45px;
  overflow: hidden;
}

.pax__avatar img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.header--default li.nav-item {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
}

.header--default li.nav-item:hover {
  border-bottom: 1px solid black;
}

.header--default .active {
  border-bottom: 1px solid black !important;
}

@media (min-width: 1200px) {
  .active {
    border-bottom: 5px solid black;
  }
}

.transaction-card .order-status-icon {
  font-size: 1.5rem;
  height: 75px;
  width: 75px;
  line-height: 75px;
}

.nav-tabs {
  border-bottom: 0;
}

.nav-tabs .nav-link {
  border: none;
}

.nav-tabs .active {
  border-bottom: 2px solid green !important;
}

.tab-content {
  border-top: none;
}

.tab-content .active {
  border: none;
}

#item-detail__full-description {
  max-height: 325px;
  overflow: auto;
}

@media (min-width: 1024px) {
  #item-detail__full-description {
    max-height: 175px;
    overflow: auto;
  }
}

@media (min-width: 1400px) {
  #item-detail__full-description {
    max-height: 125px;
    overflow: auto;
  }
}

.transaction-card {
  border-left-width: 3px;
}

.transaction-card__award {
  border-left-color: green;
}

.transaction-card__purchase {
  border-left-color: red;
}

.enter-sale-form {
  display: none;
}

.promotion__icon {
  padding: 1em;
  text-align: center;
  border-radius: 10px;
}

.itemWrapper {
  width: 73px;
  height: 73px;
  overflow: hidden;
}

.itemWrapper img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

@media (min-width: 576px) {
  .itemWrapper {
    width: 92px;
    height: 92px;
    overflow: hidden;
  }
  .itemWrapper img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
  }
}

@media (min-width: 768px) {
  .itemWrapper {
    width: 92px;
    height: 92px;
    overflow: hidden;
  }
  .itemWrapper img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
  }
}

@media (min-width: 1024px) {
  .itemWrapper {
    width: 112px;
    height: 112px;
    overflow: hidden;
  }
  .itemWrapper img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
  }
}

@media (min-width: 1200px) {
  .itemWrapper {
    width: 100px;
    height: 100px;
    overflow: hidden;
  }
  .itemWrapper img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
  }
}

/* Kindle Fire HD 7" portrait and landscape */
@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .col-xl-8.mx-auto.shopping {
    max-width: 100% !important;
    -webkit-box-flex: 100% !important;
        -ms-flex: 100% !important;
            flex: 100% !important;
  }
}

/* Kindle Fire HD 7" portrait */
.trivia_title {
  margin: 1em 0;
  display: block;
  font-size: 1.5rem;
}

.trivia_answer {
  padding: 1em;
}

.trivia_answer_radio_button {
  margin-right: 1em;
}

body,
html {
  height: 100%;
  position: relative;
  font-family: "Roboto", Arial, sans-serif;
  font-line-height: 1.618;
  font-weight: 300;
}

.main--default {
  padding: 2em 0;
}
/*# sourceMappingURL=app.css.map */