.accordion
    .card
        #headingOne.card-header.py-0
            h2.mb-0
                button.btn.btn-link.p-0(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                    | Item Description
        #collapseOne.collapse.show(aria-labelledby='headingOne' data-parent='#accordionExample')
            .card-body#item-detail__full-description
                p Create, destroy or conquer the universe on this Razer Blade Stealth 13 laptop. A Full HD thin bezel matte display ensures outstanding graphics from the NVIDIA GeForce MX150 graphics card, and the quad-core Intel Core i7 processor produces rapid response times in combination with the 16GB of 2133MHz RAM. A Razer Chroma keyboard delivers single-zone RGB lighting for precision control from this ultra-thin, ultralight Razer Blade Stealth 13 laptop.