.input-group.form-control.p-0.overflow-hidden
    .input-group-prepend
        button.btn.btn-block(href="#")
            span.fas.fa-minus
    input.form-control.text-center.border-0(type="text" placeholder="1")
    .input-group-append 
        button.btn.btn-block(href="#")
            span.fas.fa-plus