p.h4.item-title.font-weight-light [item-title] Insignia™ - Wireless Over-the-Ear Headphones - Black 
    .in-store-pickup.d-block.mb-2.text-success
        span.fas.fa-running 
        span  In store Pickup Available
    p.h2#itemdetail_lblPrice 11,250
        span.h6.text-muted.ml-1.font-weight-light points
    
    a.d-block.add-to-wishlist-link(href="#")
        span.far.fa-heart
        span.ml-1 Add to Wish List
    
    include ../item-detail/item-detail__delivery-options.pug