form.form-inline.shopping-search.d-block
    .input-group.border
        .input-group-prepend.d-none.d-md-block
            select.custom-select.border-0
                option(value="All Products") All Products
                option(value="Apple") Apple

        input.form-control.border-0(type='search' placeholder='Search' aria-label='Search')
        .input-group-append
            button.btn.bg-white(type='submit')
                span.fas.fa-search