.jumbotron.text-center.shopping-jumbotron
    .display-4 Great Deals Lie Ahead
    p.lead.w-75.mx-auto Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto consectetur in, ratione laudantium debitis harum incidunt.
    .row.justify-content-center
        .col-6.col-xl-2
            a.btn.btn-primary.btn-block(href="#") Shop Now