.checkout__order__info__box.bg-light.p-3
    .row.border-bottom.mx-auto.mb-3 
        .col-8.pl-0
            h5.font-weight-light Your Order
        .col-4.pr-0.text-right
            small
                a.edit-cart-link(href="#") Edit Cart

    .row.mx-auto.border-bottom.mb-3
        .col-12
            h6.font-weight-light
                span.fas.fa-running.text-primary
                span.ml-1 In Store Pick Up
            small.d-block 
                span You've chosen to pick up your order at the location below. 
                a(href="#") Change Location
            .store-pickup-info.my-4
                p.font-weight-bold.store-location.mb-0 [Store Location]
                p.store-address 123 Main ST. Atlanta, GA 30341
                    br
                    span.store-phone-number [770-123-0000]
    .row.mx-auto.border-bottom.mb-3
        -for (let i =0; i<2; i++)
            include ../checkout/checkout-card.pug
        



    ul.list-group.list-group-flush
        li.list-group-item.d-flex.justify-content-between.border-0.bg-transparent.px-0
            span.font-weight-bold 
                span.d-block Account Balance
                span
                    small (Before purchase)
            span.text-right [order-subtotal]
        li.list-group-item.d-flex.justify-content-between.border-0.bg-transparent.px-0
            span.font-weight-bold 
                span.d-block Order Total
                span
                    small (Points required for purchase)
            span.text-right [order-subtotal]
        li.list-group-item.d-flex.justify-content-between.border-0.bg-transparent.px-0
            span.font-weight-bold 
                span.d-block Account Balance
                span
                    small (After purchase)
            span.text-right.text-success [points-after-purchase]]
 
    