.card.checkout-card.mb-3.bg-transparent.border-0
    .card-body.d-flex.justify-content-between.p-0
        .row.mx-auto
            .col-4.pl-0
                .card.item-detail-image.border-0
                    .card-body
                        img.img-fluid(src='https://pisces.bbystatic.com/image2/BestBuy_US/images/products/5759/5759922cv11d.jpg')
            .col-8.pr-0
                .row 
                    .col-8.px-0
                        
                        small.item-name [item-name]
                        
                        
                        small.w-75.w-sm-25.d-block
                            span.font-weight-bold Quantity:
                            span.ml-1 [qty]
                    .col-4.text-right
                       p.item-price [points]
                            span
                                small.ml-1 points