h6.font-weight-bold Brands
.input-group.mb-3
  input.form-control(type='text' aria-label="Recipient's username" aria-describedby='basic-addon2')
  .input-group-append
    span.input-group-text.bg-white 
        span.fas.fa-search
ul.list-group.list-group-flush.point-ranges
    li.list-group-item.px-0.py-2.border-0
        .form-check.d-flex.justify-content-between.align-items-center
            input#defaultCheck1.form-check-input(type='checkbox' value='')
            label.form-check-label(for='defaultCheck1')
                | Brand One
            .badge.badge-primary.badge-pill [count]
    li.list-group-item.px-0.py-2.border-0
        .form-check.d-flex.justify-content-between.align-items-center
            input#defaultCheck2.form-check-input(type='checkbox' value='')
            label.form-check-label(for='defaultCheck2')
                | Brand Two
            .badge.badge-primary.badge-pill [count]
    li.list-group-item.px-0.py-2.border-0
        .form-check.d-flex.justify-content-between.align-items-center
            input#defaultCheck3.form-check-input(type='checkbox' value='')
            label.form-check-label(for='defaultCheck3')
                | Brand Three
            .badge.badge-primary.badge-pill [count]
    li.list-group-item.px-0.py-2.border-0
        a(href="#")
            span.fas.fa-plus.mr-1
            span See All