extends index.pug

block title
    title

block content
    .col-xl-8.mx-auto.shopping
        .row.row-cols-4.no-gutters
            img.img-fluid(src='/distr/www/images/events--sports.jpg')
            img.img-fluid(src='/distr/www/images/events--theater.jpg')
            img.img-fluid(src='/distr/www/images/events--concerts.jpg')
            img.img-fluid(src='/distr/www/images/events--other.jpg')
