.row.header__shopping-links.justify-content-end
    .col-5.col-sm-6.pr-lg-0
        a(href="#")
            span.fas.fa-shopping-cart
    .col-5.col-sm-6
        a(href="#")
            span.fas.fa-heart