.row.mx-auto.py-2.header__pax__widget.align-items-center.justify-content-end
    .col-10.col-sm-11.text-right
        small.pax__greeting Welcome back, [User]! You have [POINTS]. 
            span.d-block 
                a(href="#") Shop Now.
    .col-2.col-sm-1.text-right.pl-0
        
        .pax__avatar.rounded-circle.ml-auto.text-right
            img.img-fluid(src='https://pbs.twimg.com/profile_images/629375256919187456/HAO7tt9B.jpg')