.row 
    .col-2
        .card.item-detail-image.border-0
            .card-body
                img.img-fluid(src='https://pisces.bbystatic.com/image2/BestBuy_US/images/products/5759/5759922cv11d.jpg')
    .col-4.border-right
        .row 
            .col-8.px-0
                .d-block
                    p.order-tracking__item-name.font-weight-bold [item-name]
               
                p.item-price [points]
                    span
                        small.ml-1 points
    .col-6
        .row
            .col-4
                p.font-weight-bold Delivery Method
            .col-8
                p Shipped to Address
                p.mb-0 Demo User
                p.mb-0 123 Main St. Atlanta, GA 30341
                small.font-weight-bold Delivered on 4/11/2020
                